body {
    display: flex;
    font-family: 'Indie Flower', cursive;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;

}

.header,
.footer,
.mainContainer,
.options,
.grid {
    display: flex;


}

.header {
    height: 80px;
    background-color: #9ED2C6;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.footer {
    height: 80px;
    background-color: #E9DAC1;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.mainContainer {
    flex-direction: column;
    background-color: #F7ECDE;
    align-items: center;
    padding: 50px 0;
    gap: 15px;
    font-size: 24px;
    flex-grow: 1;
}

.grid {
    width: 560px;
    height: 560px;
    border: 3px solid rgb(190, 190, 190);
    flex-wrap: wrap;
}

.gridBox {
    background-color: white;
}

.options {
    justify-content: center;
    align-items: center;
    height: 100pxs;
}

.slider {
    height: 50px;
    width: 750px;
    background-color: #E9DAC1;
}

.gridSize {
    font-weight: bold;
}